<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WebCommit</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Please enter username,password and repository</p>
    <form action="" method="post">
      <label for="user">Username :</label>
      <input id="user" type="text" name="user" value="">
      <p></p>

      <label for="password">Password :</label>
      <input id="password" type="password" name="password" value="">
      <p></p>

      <label for="repository">Repository :</label>
      <input id="repository" type="text" name="repository" value="">
      <p></p>
      <input type="submit" name="login" value="login">
    </form>
  </body>
</html>
